<div class="carousel-inner">

    <div class="item active">
        <img class="img-responsive" src="~/Images/Slider/1.png" alt="thumb">
    </div>
    <div class="item">
        <img class="img-responsive" src="~/Images/Slider/2.png" alt="thumb">
    </div>
    <div class="item">
        <img class="img-responsive" src="~/Images/Slider/3.png" alt="thumb">
    </div>
    <div class="item">
        <img class="img-responsive" src="~/Images/Slider/4.png" alt="thumb">
    </div>
    <div class="item">
        <img class="img-responsive" src="~/Images/Slider/5.png" alt="thumb">
    </div>

</div>
