
@model IEnumerable<CuaHangBanMoHinh.Models.LOAIPHIM>
<ul class="list-group">
    <li class="list-group-item active" style="font-weight:bold; text-align:center"> THEO LOẠI PHIM</li>
    @{
        foreach (var item in Model)
        {
            <li class="list-group-item">
                <ion-icon name="folder-outline"></ion-icon>
                @Html.ActionLink(item.TenPhim, "SanPhamTheoPhim", new { idLoaiPim = item.MaLoaiPhim }, "MoHinh")
            </li>
        }
    }
</ul>

